html, body{
  min-height: 100vh;
}

body{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  display: none;
}

.modale {
  width: 64px;
  height: 64px;
  line-height: 200px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  background-color: #f1c40f;
  border-radius: 5px;
  text-align: center;
  background-image: url('Spinning.gif');
  z-index: 12; /* 1px higher than the overlay layer */
  display: none;
}

.show {
  display: block;
}

.image {
  padding: 10px;
  width: 33.3%;
}

.all-pics {
  margin-top: 40px;
}

.searching {
  position: absolute;
  left: 0;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

.searching h1 {
  color: white;
  text-align: center;
  margin-top: 20%;
}

.fa-times {
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

.btn-tag {
  cursor: default;
  border: none;
}

.search-container {
  display: none;
}

.auth-container {
  display: none;
}

.show {
  display: block;
}